@media screen and (max-width: 1820px) {
body {
    background-color: #ffe8e8;
    background-color: #ffe8e8;   
}
}

.all_page {
    width: 1300px;
    margin: auto;
    background-color: #fafafa;
    text-align: center;
    padding-left: 40px;
    padding-right:40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
 

/* World Happiness Score 2023 */
.title {
    align-items: center;
    background-color: #FB928E;
    background-size: 160%;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', sans-serif;
}


h1 {
    font-size: 70px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}


/* Map */
#happiness_map {
    left: 65px;
    top: 30px;
}


#explain{
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
    font-family: 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}


/* Top 10 */
.top10 {
    float: left;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 40px; 
    padding-right: 40px;
    background-color: #fafafa;
    position: relative;
    width: 650px;
    height: 380px;
    flex-direction: column;
}


#text.top10 {
    font-size: 20px;
    padding-bottom: 50px;
    padding-top: 80px;
    text-align: justify;
    font-family: 'Trebuchet MS', sans-serif;
}

/* Boxplot */
.boxplot {
    float: right;
    box-sizing: border-box;
    padding-left: 40px; 
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 30px;
    background-color: #fafafa;
    position: relative;
    width: 650px;
    height: 499px;
}

#text.boxplot {
    font-size: 20px;
    text-align: justify;
    font-family: 'Trebuchet MS', sans-serif;
    padding-top: 80px;
    background-color: #fafafa;
}

/* World Happiness Overview */
#heading2 h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family:'Trebuchet MS', sans-serif;
    align-items: center;
    background-color: #FFCECE;
    background-size: 160%;
    display: flex;
    flex-direction: column;
}


hr {
    height: 2px;
    width: 52%;
    background-color: #333;
    border: none;
    margin-top: 1px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

br {
    margin-bottom: 10px;
}

/* Key Happiness Determinants */
#heading3 h3 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    align-items: center;
    background-color: #FFCECE;
    background-size: 160%;
    flex-direction: column;
}

#heading3 hr {
    height: 2px;
    width: 55%;
    background-color: #333;
    border: none;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}
 

/* 4 charts */
.container {
    width: 1300px;
    display: flex;
}

.gen_cor,
.gdp_life {
    width: 50%;
    box-sizing: border-box;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    padding-top: 10px; 
    padding-bottom: 30px; 
}

#generosity,
#gdp {
    margin-right: 5px;
}

#corruption,
#life_expectancy {
    margin-left: 5px;
}

/* explanation for 4 charts */
.explain2{
    font-size: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.footer {
    font-size: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #fafafa;
}

