@media screen and (max-width: 1820px) {
body{
    background-color: #fff6dd;
    background-color: #494949;   
}
}

.all_page {
    width: 1500px;
    margin: auto;
    background-color: #FFF3E2;
    text-align: center;
    padding-left: 30px;
    padding-right:30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0;
    text-align: left;
    padding-bottom: 20px;
    padding-right: 200px;
}

#year {
    font-size: 50px;
    color: red;
}

#happiness_map {
    text-align: left ;
    font-family: "Helvetica";
    left: 355px;
}

#boxplot,
#top10 {
    width: 50%; 
    float: left;
    box-sizing: border-box;
    padding: 20px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.top h2:last-child {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.top p {
    font-size: 15px;
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.correlation h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}   

.gen_cor,
.gdp_life,
.choice_social {
    float: left; 
    width: 50%; 
    box-sizing: border-box; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px; 
    padding-right: 35px;
}

.correlation p:last-child {
    font-size: 15px;
    margin: 30px;
    padding-bottom: 40px;
}


